@import url('https://fonts.googleapis.com/css?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

/*-----SASS Variables-----*/
$red: #ff7575;
$darkRed: #E16161;
$white: #ffffff;
$offWhite: #F1F1F1;
$black: #707070;
$lightGray: #C4C4C4;
$yellow: #FFF68E;

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: $black;
}

.mainBody {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 50px;
}

/*-----Misc. Design-----*/
.goBack {
  padding: 3px 10px;
}

/*-----Navbar Design-----*/
.navbarBig {
  background: $offWhite;
  margin: 0;
  top: 0;
  height: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  a {
    text-decoration: none;
    align-self: center;
    h1 {
      font-family: 'Chango', 'sans-serif';
      margin-left: 5px;
      color: $red;
      font-size: 1.5em;
    }
  }
  ul {
    align-self: center;
    justify-self: end;
    li {
      display: inline;
      padding: 0 5px;
      a {
        text-decoration: none;
        color: $red;
        font-size: 1.5em;
      }
    }
    .navLine {
      color: $red;
      font-size: 1.5em;
    }
  }
}

.webNav {
  display: none;
}

@media only screen and (min-width: 750px) {
  .webNav {
    display: block;
  }
  .mobileNav {
    display: none;
  }
}

.navbarButton {
  width: 50px;
  height: 50px;
  background: $red;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: grid;
  .innerButton {
    width: 75%;
    height: 75%;
    background: $white;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  }
}

.navbarSmall {
  width: 100%;
  background: $white;
  color: $red;
  display: none;
  position: fixed;
  bottom: 0;
  text-align: center;
  ul {
    li {
      padding: 15px;
      a { 
        text-decoration: none;
        font-size: 1.5em;
        color: $black;
      }
    }
  }
  span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
  }
}

.navbarSmall-On {
  display: block;
}

/*-----Home Screen Design-----*/
.homeBox {
  margin: 10px auto;
  width: 80%;
  img {
    width: 100%;
    @media only screen and (min-width: 750px) {
      width: 90%;
      margin: 0 auto;
      display: block;
    }
  }
  p {
    margin-bottom: 15px;
    @media only screen and (min-width: 750px) {
      width: 90%;
      margin: 5px auto 15px auto;
    }
  }
  a {
    text-decoration: none;
    button {
      border: none;
      padding: 10px;
      background: $red;
      color: $white;
      margin: 0 auto;
      display: block;
      &:hover {
        background: $darkRed;
      }
      @media only screen and (min-width: 750px) {
        width: 50%;
        font-size: 1em;
      }
    }
  }
}
.gameHighlightContainer {
  @media only screen and (min-width: 750px) {
    width: 90%;
    margin: 0 auto;
  }
  .gameHighlight {
    h1 {
    text-align: center;
    }
    img {
      width: 90%;
      display: block;
      margin: 0 auto;
      @media only screen and (min-width: 750px) {
        width: 75%;
      }
    }
  }
}

/*-----Game List Design-----*/
#filterBox {
  text-align: center;
  color: $lightGray;
  .series {
    font-size: 1.5em;
    width: 70%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
  .generation {
    width: 60%;
    margin: 5px auto;
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(17, auto);
  }
  .filter, .filterGen {
    cursor: pointer;
  }
  .active {
    color: $yellow;
  }
}

.boxBeGone {
  display: none;
}

.gameListTitle {
  text-align: center;
}

.gameBox {
  width: 90%;
  margin: 0 auto;
  @media only screen and (min-width: 750px) {
    width: 80%;
  }
  img {
    width: 100%;
  }
}

/*-----Game Page Design-----*/
.gamePage {
  p, h3 {
    text-align: center;
  }
  img {
    width: 90%;
    margin: 10px auto 0 auto;
    display: block;
  }
  .addRun {
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    display: block;
    width: 60%;
    border: none;
    background: $red;
    cursor: pointer;
    @media only screen and (min-width: 750px) {
      padding: 10px;
      margin: 10px auto;
    }
    a {
      text-decoration: none;
      color: $white;
      font-size: 1.3em;
      @media only screen and (min-width: 750px) {
        font-size: 2em;
      }
    }
  }
}

/*-----Table Design-----*/
table {
  border-collapse: collapse;
  width: 80%;
  margin: 10px auto;
  thead {
    background: $red;
    color: $white;
  }
  tbody {
    background: $white;
    color: $black;
  }
  tr {
    width: 30%;
    height: 50px;
    td {
      padding: 10px;
      margin: 5px;
      button {
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  tr:nth-child(even) {
    background: #eee;
  }
}

.runTable {
  margin-bottom: 10px;
}

/*-----Add / Edit Run Design-----*/
.addRunForm, .editRunForm {
  margin: 0 auto;
  display: block;
  width: 90%;
  label {
    display: block;
    font-size: 1.5em;
  }
  input {
    width: 96%;
    background: #DBD7D7;
    border: none;
    padding: 2%;
    margin-bottom: 10px;
  }
  .formRadio {
    border: none;
    display: block;
    input {
      width: 20%;
    }
  }
  button {
    display: block;
    margin: 10px 0;
    border: none;
    background: $red;
    padding: 10px;
    color: $white;
  }
  .addPokemon {
    background: $white;
    padding: 5px;
    color: $black;
    margin-top: 0;
    margin-bottom: 15px;
  }
  select {
    width: 50%;
    background: $white;
    font-size: .8em;
    &:focus {
      outline: none;
    }
  }
}

.runPokemon {
  width: 90%;
  margin: 0 auto;
  p {
    font-size: 1.1em;
  }
  ul {
    margin-left: 5px;
    li {
      list-style-type: none;
    }
  }
}

.delete {
  color: $red;
}

/*-----Login / Signup Design-----*/
.loginPage {
  width: 90%;
  margin: 0 auto;
  .loginForm {
    h1 {
      text-align: center;
    }
    label {
      display: block;
      font-size: 1.5em;
    }
    .loginInput {
      width: 96%;
      background: #DBD7D7;
      border: none;
      padding: 2%;
      margin-bottom: 10px;
    }
    .loginButton {
      width: 80%;
      display: block;
      margin: 0 auto;
      border: 0;
      padding: 5px;
      font-size: 1em;
      background: $red;
      color: $white;
    }
  }
  .togglePage {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }
}

/*-----User Page Design-----*/
#userPage {
  h1, h3 {
    text-align: center;
  }
  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  #newAvatar {
    width: 80%;
    margin: 10px auto;
    label {
      display: block;
    }
    button {
      display: block;
      margin-top: 10px;
      border: none;
      background: $white;
      padding: 5px;
      cursor: pointer;
      @media only screen and (min-width: 750px) {
        width: 20%;
        font-size: .8em;
      }
    }
  }
}

#logoutGroup {
  width: 80%;
  margin: 0 auto;
  button {
    border: none;
    width: 40%;
    margin: 5%;
    padding: 5px 0;
    background: $red;
    cursor: pointer;
    @media only screen and (min-width: 750px) {
      font-size: .8em;
    }
  }
}

#deleteProfile {
  margin: 0 auto;
  display: block;
  background: $white;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: $red;
  cursor: pointer;
  @media only screen and (min-width: 750px) {
    font-size: .8em;
  }
}

/*-----Comment Design-----*/
#commentContainer {
  width: 80%;
  margin: 0 auto;
  form {
    label {
      display: block;
    }
    textarea {
      display: block;
      width: 100%;
      resize: vertical;
      min-height: 50px;
    }
    button {
      border: none;
      background: $white;
      color: $red;
      padding: 5px;
      margin-top: 5px;
    }
  }
  h5 {
    margin-top: 10px;
  }
}

.comment {
  border-bottom: 1px solid white;
  margin: 5px 0;
  .commentUser {
    color: $yellow;
    text-decoration: none;
  }
  .commentMessage {
    font-size: .9em;
    margin-bottom: 5px;
  }
  .commentTime {
    font-size: .8em;
    margin-left: 10px;
  }
}


/*-----News Area-----*/
#blogContainer {
  width: 85%;
  margin: 0 auto;
  ul {
    list-style-type: disc;
    li {
      margin-left: 10px;
    }
  }
}

.blogPost {
  h1 {
    text-align: center;
  }
  
  h3 {
    color: $yellow;
    font-size: 1em;
    text-align: center;
  }
  p {
    line-height: 1.5em;
    margin: 10px 0;
  }
}

/*-----Test Area-----*/
